<div class="login">
  <h2>LOG IN required</h2>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>User</mat-label>
      <input matInput  [(ngModel)]="user"/>
      <mat-icon matSuffix>person</mat-icon>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="password" />
      <mat-icon matSuffix>key</mat-icon>
      <!-- <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
  </p>

  <div class="login-action">
    <button mat-flat-button (click)="logIn()">Log in</button>
  </div>
</div>
