.bar {
  background-color: #fef8e8;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  &-search {
    overflow: hidden;
    
    input {
      width: 100%;
      padding: 7px;
      border-style: none;
      outline: none;
      font-size: 1em;
    }
  }
}
