<section class="bar">
  <div class="bar-search">
    <input type="text" placeholder="search" />
  </div>
  <div class="bar-list">
    @for (chat of chats; track $index) {
    <!-- <app-chat-card></app-chat-card> -->
    <mat-card appearance="outlined">
      <mat-card-content>
        <div
          tabindex="0"
          (click)="onSelectChat(chat.chatId)"
          (keydown.enter)="onSelectChat(chat.chatId)"
        >
          Chat id : {{ chat.chatId }}
        </div>
      </mat-card-content>
    </mat-card>

    }
  </div>
</section>
