.bar {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &-search {
    overflow: hidden;

    input {
      width: 100%;
      padding: 7px;
      border-style: none;
      outline: none;
      font-size: 1em;
    }
  }


}

.mat-mdc-card {
  &-content {
    padding: 8px;
  }

  &:hover {
    background-color: var(--color-text-alt);
    color: white;
  }
}
