.message {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 700px;
  margin-bottom: 8px;
  color: color(srgb 0 0 0 / 50%);
  border-radius: 8px;

  .title {
    padding-top: 4px;
    padding-bottom: 8px;
  }

  .text {
    overflow-wrap: break-word;
  }

  .date {
    text-align: end;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}
