/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  color: var(--color-text)
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --color-bg: #fef8e8;
  --color-text: #7a725b;
  --color-text-alt: #5fa590;
  --color-light-green: #3cfac2;
  --color-warn: #e878fa;
}

.app-btn {
  padding: 8px;
  border-style: none;
  outline: none;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;

}
